header {
    display: flex;
}
.countryHero-img {
    background-image: url("../images/egypt/hazy-pyramids.jpg");
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: inline-block;
    flex-basis: 100%;
}
.countryHero-text {
    display: flex;
    text-align: center;
    color: white;
    position: absolute;
    z-index: 999;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 40%;
    width: 70%;
}