.hero {
    display: flex;
}

header {
    display: flex;
    clear: both;
    font-weight: bold;
    flex: 2 1 100%;
    color: white;
}
.country-img {
    background-position: 50%;
    background-size: cover;
    display: flex;
    height: 32em;
    margin-top: -130px;
    margin-left: -80px;
    flex: 0.25 2 120%;
}
.countryHero-text {
    flex-basis: 100%;
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
    padding-top: 100px;
}
h1 {
    letter-spacing: 1vh;
    font-size: 3em;
    margin-top: auto;
    margin-bottom: auto;
}