/* ----------------------- Main Content -------------------------- */

.mainContainer{
    /* border: black dotted 1px; */
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.container {
    border-top: 10px darkgreen solid;
    /* border: green dotted 5px; */
    margin: 2%;
    flex: 1 1 33%;
}

.cont-card {
    display: flex;
}

.cont-title {
    color: black;
}

.card-infoBox h3 {
    color: rgb(90, 90, 90);
    /* border: goldenrod dotted 1px;  */
}

.card-infoBox p {
    /* border: goldenrod dotted 1px;  */
    color: grey;
    font-weight: lighter;
    font-family: 'Cabin', sans-serif;
} 

.card-imgBox {
    width: 250px;
    height: 166px;
    margin: 10px;
}

.card-img {
    /* flex: 1 1 25%; */
    width: inherit;
    height: inherit;
}

/* -- specifically overwrite footer style in header.css 
-- because I don't want bisque text color */
main footer div p {
    color: white;
    text-align: center;
    padding-bottom: 10px;
}

/* --------------------------------------------------------------- */

/* -------------------- Medium width window --------------------- */
@media (max-width: 1300px){
    .cont-card {
        display: block;
        margin-bottom: 30px;
    }

    .card-infoBox h3 {
        /* padding-left: 10px; */
        margin-top: -5px;
        text-align: center;
    }

    .card-infoBox p {
        margin-top: -15px;
        padding-left: 10px;
    }

    .card-imgBox {
        width: 280px;
        height: 187px;
        margin-left: auto;
        margin-right: auto;
    }

}

/* -------------------- Small width window --------------------- */
@media (max-width: 975px){
    .mainContainer{
        /* border: black dotted 20px; */
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: space-between;
        flex-direction: column;
    }

    .container {
        /* border: green dotted 5px; */
        margin: 20px;
        /* justify-content: space-evenly; */
        flex: 1 1 33%;
    }

    .cont-title {
        letter-spacing: 2px;
        text-align: center;
        font-weight: bold;
        font-size: 2em;
        color: black;
    }

    .cont-card {
        display: flex;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 20px
    }

    .card-infoBox {
        align-content: center;
        margin-top: auto;
        margin-bottom: auto;
    }

    .card-infoBox h3 {
        color: rgb(90, 90, 90);
        text-align: left;
        margin-left: 10px;
        /* border: goldenrod dotted 1px;  */
    }

    .card-imgBox {
        /* display: flex; */
        background-color: bisque;
        width: 300px;
        height: 200px;
        margin: 10px;
    }
    
    .card-img {
        width: inherit;
        height: inherit;
    }
}