body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Cabin', sans-serif;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   
}
.container {
    display: flex;
    flex-direction: column;
    flex-basis: 32%;
    border-top: 10px rgb(197, 157, 117) solid;
}

.infoBox, .textBox {
    display: flex;
}
.img {
    display: flex;
    width: 100%;
    height: auto;
    margin: 2px;
    padding: 2px;
}
.card {
    display: flex;
    background-color: rgb(228, 219, 210);
    
}
.text {
    display: flex;
    margin: 5px;
    padding: 5px;
}
h2 {
    margin: 2px;
}
footer {
    display: flex;
    background: lightgray;
    height: 5em;
    margin-top: 50px;
    padding: 10px;
    flex-direction: column-reverse;
}
