body, html {
    height: 100%;
}

.mainContainer {
    display: flex;
    flex-wrap: wrap;
    border: greenyellow dotted 5px;
    justify-content: space-around;
    /* flex-direction: row; */
}
.container {
    display: flex;
    border:red dotted 5px;
    flex-direction: column;
    flex-basis: 32%;
}
.name {
    border: goldenrod dotted 1px;
}
.imgBox, .infoBox, .textBox, {
    display: flex;
}
.img {
    display: flex;
    width: 100%;
    height: auto;
    margin: 2px;
    padding: 2px;
}
.card {
    display: flex;
    background-color: rgb(175, 151, 126);
    
}
.text {
    display: flex;
    margin: 5px;
    padding: 5px;
}
h2 {
    margin: 2px;
}
