body {
    color: bisque;
}


h1 {
    /* color: #7dceb0; */
    letter-spacing: 1vh;
    font-size: 4em;
    justify-content: right;
}



.mainContainer {
    /* border: black dotted 1px; */
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    background-color: rgb(20, 9, 4);
}

.container {
    border-right: bisque solid 20px;
    /* border: green dotted 5px; */
    margin: 2%;
    /* justify-content: space-evenly; */
    flex: 1 1 33%;
    background-color: rgb(20, 9, 4);
    /* mar */
}

.cont-card {
    display: flex;
}

.card-imgBox {
    /* display: flex; */
    background-color: bisque;
    width: 200px;
    height: 150px;
    margin: 10px;
}

.card-img {
    /* flex: 1 1 25%; */
    width: inherit;
    height: inherit;
}


@media (max-width: 1300px) {
    .cont-card {
        display: block;
    }
} 
@media (max-width: 975px) {
     /* --------- rearrange screen when window is small ---------- */
    
    .mainContainer {
        border: black dotted 20px; 
        display: flex;
        
        margin-top: 50px;
        margin-bottom: 50px;
        justify-content: space-between;
        flex-direction: column;
        }
    .cont-title {
        text-align: left;
    }
    .cont-card {
        display: flex;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 20px
    }
} 