.hero {
    display: flex;
}

header {
    display: flex;
    align-items: center;
    font-weight: bold;
    /* background-color: blueviolet; */
    flex: 2 1 100%;
    color: white;
}

body {
    color: bisque;
}

h1 {
    color: #7dceb0;
    letter-spacing: 1vh;
    font-size: 4em;
    /* text-shadow: 4px 5px rgba(0, 0, 0, 0.56); */
    justify-content: right;
}

.country-img {
    display: flex;
    flex: 0.25 2 120%;
    height: 400px;
    margin-top: -150px;
    margin-left: -80px;
    justify-content: right;
}

.country-img img {
    padding-bottom: 300px;
}

.country-name {
    flex-basis: 100%;
    flex-shrink: 1;
    color: bisque;
    font-size: 30px;
    text-align: center;
    width: auto;
    /* padding-top: 100px; */
    margin-top: auto;
    margin-bottom: auto;
}

.mainContainer {
    /* border: black dotted 1px; */
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    background-color: rgb(20, 9, 4);
}

.container {
    border-right: bisque solid 20px;
    /* border: green dotted 5px; */
    margin: 2%;
    /* justify-content: space-evenly; */
    flex: 1 1 33%;
    background-color: rgb(20, 9, 4);
    /* mar */
}

.cont-card {
    display: block;
}

.card-imgBox {
    /* display: flex; */
    background-color: bisque;
    width: 200px;
    height: 150px;
    margin: 10px;
}

.card-img {
    /* flex: 1 1 25%; */
    width: inherit;
    height: inherit;
}

footer {
    display: flex;
    background: rgb(20, 9, 4);
    height: 10em;
    margin-top: 50px;
    flex-direction: column-reverse;
}

.footer-text {
    text-align: center;
    padding-bottom: 10px;
    color: bisque;
}



@media (min-width: 1200px) {
    .cont-card {
        display: flex;
    }
}
@media (max-width: 975px) {
    /* --------- rearrange screen when window is small ---------- */
    
    h1 {
        font-size: 3em;
    }
    
    .country-img {
        display: flex;
        /* background-size: cover; */
        flex: 2 2 100%;
        height: 30em;
        margin-top: -130px;
        margin-left: -100px;
        justify-content: center;
        /* align-content: center; */
        /* margin-top: -100px; */
    }
    /* .country-name {
        flex-basis: 50%;
        border: red dotted 2px;
        color: white;
        text-align: center;
        width: auto;
        margin-top: auto;
        margin-bottom: auto;
    }*/
 .mainContainer {
    /* border: black dotted 20px; */
    /* display: flex; */
    
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
    flex-direction: column;
    }
    .cont-title {
        text-align: left;
    }
    .cont-card {
        display: flex;
        padding-top: 1em;
        padding-bottom: 1em;
        margin-left: 20px
    }
}